# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
.gradle/
local.properties

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db
# Java/Maven
target/
